<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Recipe</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="recipeDetails.title" class="form-control" placeholder="Title">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="recipeDetails.description" class="form-control" placeholder="Description">
    </div>

    <table class="form-group">
      <ng-container *ngIf="recipeDetails.ingredients.length > 1">
      <tr *ngFor="let ingredient of recipeDetails.ingredients;let i = index;">
         <td *ngIf="i != 0">{{ i }}</td>
         <td>{{ingredient.name}}</td>
         <td>{{ingredient.quantity}}</td>
      </tr>
      </ng-container>
      <tr>
        <td><input type="text" [(ngModel)]="ingredientDetails.name" placeholder="Ingredient name"></td>
         <td><input type="text" [(ngModel)]="ingredientDetails.quantity" placeholder="Ingredient quantity"></td>
      </tr>
      <tr class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addIngredient()">Add Ingredient</button>
      </tr>
    </table>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addRecipe()">Create Recipe</button>
    </div>

  </div>
</div>
